body {
        margin: 0;
        font-family: "Open Sans", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
}

code {
        font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root{
        --link_color: #168EEA;
        --highlight: #786AFF;
        --primary: #59626A;
        --secondary: #262626;
        --tertiary: #8A8F9C;
        --border_color: #EAEEF3;
        --background: #F5F6F7;
        --shadow: #e6dede;
        --fs12: 12px;
        --fs14: 14px;
        --fs18: 18px;
        --fsbut: 16px;
        --border_radius: 8px;
        --icon_padding: 10px;
}