.body {
        display: flex;
        margin: 0%;
        font-size: var(--fs14);
        text-align: left;
}

@media (max-width:1000px) {
        .body {
                display: block;
        }

        img {
                height: auto;
        }

        .sidebar {
                min-width: 390px;
        }
}

.sidebar {
        flex: 4;
        display: flex;
        flex-direction: column;
}

.sidebar .upper {
        flex: 1;
}

.desc,
.form {
        padding: 0 5vw;
}

.key {
        margin: 4em 0 2em 5vw;
        position: relative;
        width: 50px;
        height: 50px;
        background-color: var(--highlight);
        border-radius: var(--border_radius);
        transform: rotate(45deg) scaleX(-1);
        box-shadow: 1.5px 1.5px var(--shadow);
}

.key svg {
        color: white;
        width: 20px;
        height: 20px;
        transform: rotate(45deg) scaleX(-1);
        padding: 22px 12px 20px 30px;
}

.img {
        flex: 7;
        max-width: 100%;
        height: 100vh;
}

.desc h1 {
        font-weight: 500;
        font-size: 18px;
        margin: 20px 0;
}

.desc p {
        color: var(--primary);
        margin-bottom: 40px;
}

.form {
        background-color: var(--background);
        flex: 1;
}

.form .pw-label a {
        font-size: var(--fs12);
}


.footer {
        text-align: center;
        font-weight: normal;
        color: var(--primary);
}

.error {
        color: red;
}