.body{
    font-family: "Open Sans", sans-serif;
    display: flex;
    margin: 0%;
    font-size: 14px;
    text-align: left;
}

@media (max-width:1000px){
    .body{
        display: block;
    }
    img{
        height: auto;
    }
    .sidebar{
        min-width: 390px;
    }
}

.sidebar{
    flex: 4;
    display: flex;
    flex-direction: column;
    
}

.sidebar .upper{
    flex: 1;
}

.desc,.form{
    padding: 0 5vw;
}

.key{
    margin: 4em 0 2em 5vw;
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #786AFF;
    border-radius: 8px;
    transform: rotate(45deg) scaleX(-1);
    box-shadow: 1.5px 1.5px rgb(197, 191, 191);
}

.key svg{
    color: white;
    width: 20px;
    height: 20px;
    transform: rotate(45deg) scaleX(-1);
    padding: 22px 12px 20px 30px;
}

.img{
    flex: 7;
    max-width: 100%;
    height: 100vh;
}

.desc h1{
    font-weight: 500;
    font-size: 18px;
    margin: 20px 0;
}

.desc p{
    color: #59626A;
    margin-bottom: 40px;
}

.desc svg{
    padding-right: 5px;
    font-weight: normal;    
}

desc .a, .desc svg{
    vertical-align: middle;
}
a{
    color: #168EEA;
    text-decoration: none;
}

.form{
    background-color: #F5F6F7;
    flex: 1; 
}

.form label{
    display: block;
    margin: 1.5em 0 0.5em 0;
    font-weight: bold;
}

.form input{
    width: 100%;
    border-radius: 6px;
    box-shadow: 1px 1px rgb(228, 223, 223);
    height: 40px;
    border: none;
    padding-left: 10px;
}

.pw-label span{
    float: right;
}

.form span a{
    font-size: 12px;
}

.form .btn{
    background-color: #786AFF;
    color: white;
    font-size: 16px;
    margin: 1.5em 0 2em 0;
}

.footer{
    text-align: center;
    font-weight: normal;
    color: #59626A;
}

.error{
    color: red;
}